@import '../../styles/vars';
.screenFirst {
  &__inner {
    //height: 100vh;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    min-height: 600px;
  }
  &__colRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 0 20px;
  }
  &__title_wrapper {
    overflow: hidden;
    width: 100%;
  }
  &__title {
    width: 100%;
    //display: block;
    //position: absolute;
    font-family: $generalTitleFont;
    color: $mainTitleFontColor;
    //font-size: calc($index * 5);
    font-size: 80px;
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.1em;
    width: min-content;
    //top: 40vh;
    text-transform: lowercase;
    z-index: 1;
  }
  &__title_color {
    font-family: $generalTitleFont;
    color: $titleFontColor;
    text-transform: none;
  }
  &__colLeft {
    display: flex;
    align-items: center;
    width: 40%;
  }
  &__imgCircl_wrapper {
    position: relative;
  }
  &__imgBooks {
    position: absolute;
    inset: 0;
  }
  &__imgLineOrange {
    position: absolute;
    inset: 0;
    left: -50px;
    //width: 600px;
    svg {
      width: 100%;
    }
  }
  &__imgLineViolet {
    position: absolute;
    inset: 0;
    left: -50px;
    //width: 600px;
    svg {
      width: 100%;
    }
  }
  &__imgBooks_wrapper {
    position: relative;

    //width: 600px;
  }
  .imgBooksRight {
    position: absolute;
  }
  .imgBooksLeft {
    position: absolute;
  }
}
