/* Colors */
$mainFontColors: rgba(21, 37, 66, 0.6);

$linkFontColors: #ffffff;
$titleFontColor: #5617d2;
$mainTitleFontColor: #152542;
$bgColors: #f5f6f6;
$formFindColors: rgba(21, 37, 66, 0.1);

/* Fonts */
$generalFont: 'Prompt';
$generalTitleFont: 'Montserrat';

$index: calc(1vw + 1vh);
